div.side-bar {
    max-width: 22rem;
<<<<<<< HEAD
    height: 15rem;
=======
    height: 18rem;
>>>>>>> parent of a2a90fe... fixed
}

.sidebar{
    margin-top: 22rem;
    min-width: 20rem;
}

.backTop{
    width: 20rem;
    position:fixed

}





