<div class="bd-highlight mt-1 d-none d-lg-block" >
  <div class="card mb-4">
      <div class="card-header">Home</div>
      <div class="card-body" >
        <div class="card-title" *ngIf="auth.isAuth()">{{auth.username}}</div>
        <div class="card-text" *ngIf="auth.isAuth()">
            A horse, a horse!
            My kingdom for a horse!
        </div>
        <div class="card-text" *ngIf="!auth.isAuth()">
          sign in to create a post!
        </div>
        <button *ngIf="auth.isAuth()"
        class="btn btn-danger text-white btn-block mt-4 mb-2"
        routerLink="/post/new" >CREATE POST</button>
        <button *ngIf="auth.isAuth()"
        class="btn btn-light text-danger btn-block mt-2 mb-2"
        routerLink="/account/settings" >VIEW YOUR POST</button>
      </div>
  </div>

  <div class="card">
    <div class="card-body">
      <div *ngIf="auth.isAuth()">
        <button class="btn btn-danger btn-block mx-2" (click)="signOut()">Sign Out</button>
      </div>
      <div *ngIf="!auth.isAuth()">
        <button class="btn btn-danger btn-block mx-2" (click)="signIn()">Sign In</button>

        <small class="mx-2"><a routerLink="/signup">Don't have an account?</a></small>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-end">
    <button *ngIf = 'isbackTop' class="btn btn-danger back-top" (click)="backTop()"> Back to Top </button>
  </div>
</div>