<!--  -->
<div *ngIf="viewable" class="sidebar d-flex flex-column bd-highlight mr-2">
  <div class=" justify-content-center mb-2">
    <div class="card side-bar justify-content-center">
      <div class="card-body">
        <h5 class="card-title">{{auth.username}}</h5>
        <p *ngIf="auth.isAuth()" class="card-text">Some quick example text to build on the card title and make up the bulk of
          the card's content.</p>
      </div>

      <button *ngIf="!auth.isAuth()" class="btn btn-primary mx-2 mb-2" (click)="signIn()">Sign In</button>
      <div *ngIf="!auth.isAuth()" class="row justify-content-center mb-1">Do not have a account?&nbsp;<a routerLink="/signup">sign up</a></div>
      
      <button *ngIf="auth.isAuth()" class="btn btn-primary mx-2 mb-2" (click)="signOut()">Sign Out</button>
    </div>

  <button class="btn btn-primary mb-2 backTop" (click)="backTop()"> Back to Top </button>
  
</div>