<div *ngIf="auth.isAuth() && !isActive" class = "pt-3">
  <div *ngIf = "!isSent" class = "pt-3">
    <h6>Please verify your email before reset password. </h6>
    <button (click)="onSentEmail()" class="btn btn-primary btn-block">Resent Email</button>
  </div>
  <div *ngIf = "isSent" class = "pt-3 ">
    <form [formGroup]='verifyCodeForm' novalidate *ngIf="!isCodeVerified">
      <h6 class="form-text">To continue, please enter the verifaction code.</h6>
      <ngb-alert [dismissible]="false" type="danger" *ngIf="isCodeVerficationFail" class="pt-3">
        <strong>Error!</strong> The verefication code you have entered is not correct.
      </ngb-alert>
      <mat-form-field class="full-width">
        <input matInput type="text" formControlName="code" required>
      </mat-form-field>
      <button type ="button" (click)="onCodeVerify()" class="btn btn-primary ml-5"> Next</button>
    </form>
    <div *ngIf = "isCodeVerified">Email verifyed sucessfully!</div>
  </div>
</div>

<div *ngIf = '(auth.isAuth() && isActive) || !auth.isAuth()' class = "pt-3 text-center">
  <div *ngIf = !isSent>
    <form [formGroup]='verifyForm' novalidate *ngIf="!isVerified">
        <h6 class="form-text">To continue, please enter your user name and email address.</h6>
        <ngb-alert [dismissible]="false" type="danger" *ngIf="isVerficationFail" class="pt-3">
          <strong>Error!</strong> Email address is not correct.
        </ngb-alert>
        <mat-form-field class="w-100 p-2">
          <input matInput type="text" placeholder="username" required formControlName='username'>
          <mat-error>Username is required.</mat-error>
        </mat-form-field>
        <mat-form-field class="w-100 p-2">
          <input matInput type="email" placeholder="email" required formControlName='email'>
          <mat-error>Email is required.</mat-error>
        </mat-form-field>
        <div class="pt-3">
          <button (click)="onSentEmail()" class="btn btn-primary btn-block">Next</button>
        </div>
      </form>
  </div>
 
  <div *ngIf="isSent">
      <form [formGroup]='verifyCodeForm' novalidate *ngIf="!isCodeVerified">
        <h6 class="form-text">To continue, please enter the verifaction code.</h6>
        <ngb-alert [dismissible]="false" type="danger" *ngIf="isCodeVerficationFail" class="pt-3">
          <strong>Error!</strong> The verefication code you have entered is not correct.
        </ngb-alert>
        <mat-form-field class="full-width">
          <input matInput type="text" formControlName="code" required>
        </mat-form-field>
        <button type ="button" (click)="onCodeVerify()" class="btn btn-primary ml-5"> Next</button>
      </form>
  
      <!-- isVerified now user can change password -->
      <form *ngIf="isCodeVerified" [formGroup]="changePasswordForm" class="full-width" novalidate>
        <h6 class="form-text text-muted">Changing your password will sign you out of your devices.</h6>
        <mat-form-field class="full-width">
          <input matInput type="password" formControlName='password' aria-describedby="passwordlHelp"
            placeholder="Your New Password" required minlength="8" maxlength="20"
            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
          <small id="passwordlHelp" class="form-text text-muted ">
            Your password must be 8-20 characters long, contain at least one number and one uppercase and lowercase
            letter,
            and must not contain spaces, special characters.
          </small>
          <mat-error>
            Your password is invalid.
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput type="password" formControlName='confirmpassword' placeholder="Confirm Your New Password"
            required pattern="{{changePasswordForm.controls.password.value}}">
          <mat-error
            *ngIf="(changePasswordForm.controls.confirmpassword.value !== changePasswordForm.controls.password.value)">
            Passwords don't match.
          </mat-error>
        </mat-form-field>
        <div class="pt-3 ">
          <button (click)="onPatch()" class="btn btn-primary">
            CONFIRM CHANGE PASSWORD
          </button>
        </div>
      </form>
    </div>
</div>


  