
<div>
{{postArray | json}}
{{postArray | json}}
{{postArray | json}}
{{postArray | json}}
{{postArray | json}}
{{postArray | json}}
{{postArray | json}}
{{postArray | json}}
{{postArray | json}}
{{postArray | json}}
{{postArray | json}}
{{postArray | json}}
{{postArray | json}}
{{postArray | json}}
{{postArray | json}}
{{postArray | json}}
{{postArray | json}}
{{postArray | json}}
</div>
<div class="row align-items-center justify-content-center">
    <div *ngIf="isLoading" class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>