<!-- display signup page -->
<!-- <div *ngIf="!loginIsHidden" class="text-center" id='login'>
  <form class="form-signin " ngNativeValidate>
    <img class="mb-4" src="../../assets/img/login/login_icon.png" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputUsername" class="sr-only">Username</label>
    <input [(ngModel)]='loginInRequestData.email' [ngModelOptions] = '{standalone:true}' name = 'email'
          type="email" id="inputUsername" class="form-control" placeholder="Username" required autofocus/>
    <label for="inputPassword" class="sr-only">Password</label>
    <input [(ngModel)]='loginInRequestData.password' [ngModelOptions] = '{standalone:true}'
          type="password" id="inputPassword" class="form-control" placeholder="Password" required/> 
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox"  [checked]="is_remember_me" (change)="is_remember_me = !is_remember_me" > Remember me
      </label>
    </div>
    <button (click) = 'logIn()' class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <div><a routerLink="/signup" >Sign up</a>or<a routerLink="/" >Forget the password?</a></div>
  </form>
</div> -->

<!-- display signin page -->
<!-- <div *ngIf="loginIsHidden" class="text-center" id='signup'>
  <form class="form-signin " ngNativeValidate>
    <img class="mb-4" src="../../assets/img/login/signup_icon.png" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Please sign up</h1>

    <label for="inputUsername" class="sr-only">Username</label>
    <input [(ngModel)]='signUpRequestData.email' [ngModelOptions] = '{standalone:true}' name = 'email'
          type="email" id="inputUsername" class="form-control" placeholder="Username" required autofocus/>

    <label for="inputPassword" class="sr-only">Password</label>
    <input [(ngModel)]='signUpRequestData.password' [ngModelOptions] = '{standalone:true}'
          type="password" id="inputPassword" class="form-control" placeholder="Password" required/> 

    <div class="checkbox mb-3">
      <label>By clicking Sign Up, you agree to our Terms Data Policy and Cookie Polciy</label>
    </div>

    <button (click) = 'signUp()' class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>

    <div>
      <a routerLink="/login">already have an account</a>
    </div>
    
  </form>
</div> -->
