<div class="row">
  <div class="col"></div>
  <div class="single-post col-12 mt-2">
    <div class="card border-primary">
      <div class="card-header">{{post.title}}</div>
      <div class="card-body text-dark" id="post-{{post.id}}">
        <quill-editor [readOnly]="true" [(ngModel)]="post.content" placeholder="" [styles]="{border: 'none'}"
          [modules]="{ toolbar: false}"></quill-editor>
        <p class="card-text"><small class="text-muted">Last updated {{post.modifyDate}}</small></p>
      </div>
    </div>
  </div>
  <div class="col"></div>
</div>