<div *ngIf="data" class="row">
  <div class="col">
    <div class="card border-danger">
      <div *ngIf="isView">
        <div class="card-header">{{data.title}}</div>
        <div class="card-body">
          <div>
            <quill-editor
              [bounds]="self" [readOnly]="true" [(ngModel)]="data.overview||data.content" placeholder=""
              [styles]="{border: 'none'}" [modules]="{ toolbar: false}">
            </quill-editor>
          </div>
          <p class="card-text"><small class="text-muted">Last updated {{data.modifyDate}}</small></p>
        </div>
      </div>

      <div *ngIf="!isView" class="form-group">
        <div class="card-header">
          <input type="text" class="form-control " name="title" required #title="ngModel"
            [class.is-invalid]="title.invalid && title.touched" maxlength="30" placeholder="Title"
            [(ngModel)]="data.title">
          <small class="text-danger" [class.d-none]="title.valid || title.untouched">
            Title is required for a new data.
          </small>
        </div>

        <div class="card-body">
          <quill-editor id='contentEditor' [modules]='quillconifg' (onEditorCreated)="editorCreated($event)"
            #content="ngModel" required [(ngModel)]="data.content"
            [class.is-invalid]="content.invalid && content.touched" placeholder="Please Enter Your Post!">
          </quill-editor>
          <small class="text-danger" [class.d-none]="content.valid || content.untouched">
            Content is required for a post.
          </small>
        </div>
      </div>
    </div>
  </div>
</div>