<form [formGroup]='signupForm' class="w-100" novalidate>
  <div class="mt-4">
    <img class="rounded mx-auto d-block" src="assets/img/login/login_icon.png" alt="signup" width="20%" height="20%">
    <h1 class="h3 mb-3 font-weight-normal text-center">Please sign up</h1>
  </div>

  <mat-form-field class="w-100">
    <input matInput type="email" formControlName='email' placeholder="Email" required>
    <mat-error>
      Please enter a valid email address
    </mat-error>
  </mat-form-field>

  <mat-form-field class="w-100">
    <input matInput type="text" formControlName='username' aria-describedby="usernamelHelp" placeholder="Username"
      minlength="8" maxlength="20" pattern="[a-zA-Z0-9]*">
    <small id="usernamelHelp" class="form-text text-muted">
      Your username must be 8-20 characters long, and must not contain spaces, special characters.
    </small>
    <mat-error>
      Please enter a valid username.
    </mat-error>
  </mat-form-field>

  <mat-form-field class="w-100">
    <input matInput type="password" formControlName='password' aria-describedby="passwordlHelp"
      placeholder="Your Password" minlength="8" maxlength="20" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
    <small id="passwordlHelp" class="form-text text-muted ">
      Your password must be 8-20 characters long, contain at least one number and one uppercase and lowercase letter,
      and must not contain spaces, special characters.
    </small>
    <mat-error>
      Please enter a valid password.
    </mat-error>
  </mat-form-field>
  <div>
    <mat-checkbox formControlName="termsCheck" required>I Accept terms of services</mat-checkbox>
    <button type='submit' (click)="onSignUp()" class="btn btn-danger btn-block mb-3 mt-3">Sign Up</button>
    <div class="mt-2 text-center">
      <a routerLink="/signin">Already have an account?</a>
    </div>
  </div>

</form>