<div class="container-fluid">
  <div class="container">
      <div class="row">
        <div class="col">
          <img class = "img-fluid" src="../../assets/img/main/headerbg.jpg"> 
        </div>
      </div>
      <div class="row sticky-top">
        <div class="col">
          <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
              <span class="navbar-brand" >
                <img src="../../assets/img/main/login_icon.png" class="nav-icon-image" alt="brand">
                Moonback
              </span>
              <button class="navbar-toggler btn btn-outline-primary" type="button" data-toggle="collapse" 
                  data-target="#navbarTogglerDemo02"  aria-expanded="false" aria-label="Toggle navigation" (click)="isCollapsed = !isCollapsed" 
                  [attr.aria-expanded]="!isCollapsed" aria-controls="navbarTogglerDemo02">
                <span class="navbar-toggler-icon"></span>
              </button>
            <div class="collapse navbar-collapse" [ngbCollapse]="isCollapsed">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" routerLink="/">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/game" >Game</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/animate">Animate</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/novel">Light Novel</a>
                </li>
              </ul>
              <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-danger my-2 my-sm-0" type="submit">Search</button>
              </form>
          </div>
        </nav>
      </div>
    </div>
    <!-- content  -->
      <div class="row">
        <div class="col"> 
          <router-outlet></router-outlet>
        </div>
      </div>
    <div class="row fixed-bottom"> 
      <div class="col">
          <img class='float-left' src="../../assets/img/main/animation_girl_dancing_left.gif" > 
      </div>
      <div class="col"></div>
      <div class="col">
          <img class='float-right' src="../../assets/img/main/animation_girl_dancing_right.gif" > 
      </div>
  </div>
</div>